:root {
    --blackWeight: 900;
    --extraBoldWeight: 800;
    --boldWeight: 700;
    --semiBoldWeight: 600;
    --mediumWeight: 500;
    --regularWeight: 400;
    --lightWeight: 300;
    --extraLightWeight: 200;
    --thinWeight: 100;
}

html {
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

img {
    height: 100%;
}

.top-bar {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px 20% 10px 20%;
    background-color: white;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 23px;
    font-weight: var(--mediumWeight);
}

h4 {
    font-size: 15px;
    font-weight: var(--regularWeight);
    letter-spacing: 2px;
    color: gray;
    padding: 0;
    margin: 5px 0;
    width: 25%;
    text-align: left;
    text-transform: lowercase;
}

.pinata-item {
    display: flex;
    border-radius: 10px;
    background-color: white;
    border: 1px lightgray solid;
    font-size: 20px;
    padding: 10px;
    margin: 2px 0;
    width: 25%;
}

.pinata-container {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
